<html>
  <head>
    <h1 align="center">University Portal System</h1>
    <title>Login Page</title>
  </head>
  <body>
    <form method="post" action="../controller/logincheck.php">
      <center>
        <h2>Login</h2>
        <fieldset>
          <legend></legend>
          <table>
            <tr>
              <td>Username:</td>
              <td>
                <input type="text" name="username" value="" />
              </td>
            </tr>
            <tr>
              <td>Password:</td>
              <td><input type="password" name="password" value="" /></td>
            </tr>
            <tr>
              <td>User Type:</td>
              <td>
                <input type="radio" name="usertype" value="Admin" />Admin
                <input type="radio" name="usertype" value="Student" />Student
                <input type="radio" name="usertype" value="Parents" />Parents
                <input type="radio" name="usertype" value="Faculty" />Faculty
              </td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" name="submit" value="Submit" /></td>
            </tr>
          </table>
        </fieldset>
      </center>
    </form>
    <center>
      <h3>If you do not have any account please signup......</h3>
      <a href="signup.html"><h3>Signup</h3></a>
    </center>
  </body>
</html>
